:root {
  --light-size: 100;
  --base-size: 400;
  --primary-color: white;
  --secondary-color: rgb(108, 201, 232);
  --tertiary-color: rgb(146, 148, 148);
}

* {
  font-weight: var(--base-size);
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 24, 113);
  color: var(--primary-color);
}

code {
  font-family: 'Inter', sans-serif;
}
